.popup_modals {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  margin: 5% auto;
  border-radius: 10px;
  background-color: #f5f5f5;
  color: black;
  -webkit-transition: opacity 0.15s, -webkit-transform 0.3s;
  transition: opacity 0.15s, -webkit-transform 0.3s;
  transition: opacity 0.15s, transform 0.3s;
  transition: opacity 0.15s, transform 0.3s, -webkit-transform 0.3s;
}
.popup_modals.modal_small {
  width: 400px;
}
.popup_modals.modal_medium {
  width: 500px;
}
.popup_modals.modal_large {
  width: 600px;
}
.popup_modals.fade {
  opacity: 0;
  filter: alpha(opacity=0);
}
.popup_modals.top {
  -webkit-transform: translate(0, -25%);
      -ms-transform: translate(0, -25%);
          transform: translate(0, -25%);
}
.popup_modals.bottom {
  -webkit-transform: translate(0, 25%);
      -ms-transform: translate(0, 25%);
          transform: translate(0, 25%);
}
.popup_modals.right {
  -webkit-transform: translate(25%, 0);
      -ms-transform: translate(25%, 0);
          transform: translate(25%, 0);
}
.popup_modals.left {
  -webkit-transform: translate(-25%, 0);
      -ms-transform: translate(-25%, 0);
          transform: translate(-25%, 0);
}
.popup_modals.in {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
}
.popup_modals .modal_content {
  padding: 20px;
}
.popup_modals .modal_content .modal_input {
  margin-top: 10px;
  padding: 7px 10px;
  border-radius: 4px;
  border: 1px solid #d2dee2;
  box-sizing: border-box;
}
.popup_modals .modal_buttons {
  padding: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.popup_modals .modal_buttons.right {
  text-align: right;
}
.popup_modals .modal_buttons.right .btn {
  margin-left: 5px;
}
.popup_modals .modal_buttons.left {
  text-align: center;
}
.popup_modals .modal_buttons.left .btn {
  margin-right: 5px;
}
.popup_modals .modal_buttons .btn {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  padding: 7px 15px;
  border-radius: 5px;
  font-size: 12px;

}
.popup_modals .modal_buttons .btn.btn_pmry {
    -moz-box-shadow:inset 0px 1px 0px 0px #a4e271;
	-webkit-box-shadow:inset 0px 1px 0px 0px #a4e271;
	box-shadow:inset 0px 1px 0px 0px #a4e271;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #89c403), color-stop(1, #77a809));
	background:-moz-linear-gradient(top, #89c403 5%, #77a809 100%);
	background:-webkit-linear-gradient(top, #89c403 5%, #77a809 100%);
	background:-o-linear-gradient(top, #89c403 5%, #77a809 100%);
	background:-ms-linear-gradient(top, #89c403 5%, #77a809 100%);
	background:linear-gradient(to bottom, #89c403 5%, #77a809 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#89c403', endColorstr='#77a809',GradientType=0);
	background-color:#89c403;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #74b807;
    font-weight: bold;
}
    .popup_modals .modal_buttons .btn.btn_pmry:hover {
    	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #77a809), color-stop(1, #89c403));
	    background:-moz-linear-gradient(top, #77a809 5%, #89c403 100%);
	    background:-webkit-linear-gradient(top, #77a809 5%, #89c403 100%);
	    background:-o-linear-gradient(top, #77a809 5%, #89c403 100%);
	    background:-ms-linear-gradient(top, #77a809 5%, #89c403 100%);
	    background:linear-gradient(to bottom, #77a809 5%, #89c403 100%);
	    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77a809', endColorstr='#89c403',GradientType=0);
	    background-color: #77a809;
    }

.popup_modals .modal_buttons .btn.btn_sdry {
  background-color: #e74c3c;
}
.popup_modals .modal_buttons .btn.btn_extra {
  background-color: #7f8c8d;
}
.popup_modals .modal_buttons .btn:hover {
  cursor: pointer;
}
.modal_backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
}
.modal_backdrop.fade {
  opacity: 0;
  filter: alpha(opacity=0);
}
.modal_backdrop.in {
  opacity: 0.75;
  filter: alpha(opacity=75);
}
