body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.page-navbar{
    background: #FFFFFF;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19)
}
.page-navbar a {
    color: #77a809;
}
.page-navbar a:hover {
    color: #528009;
}
.uppercase {
    text-transform: uppercase;
}
.lowercase {
    text-transform: lowercase;
}
.capitalize {
    text-transform: capitalize;
}
.margin-top-10 {
    margin-top: 10px;
}
.margin-top-20 {
    margin-top: 20px;
}
.icon-bar {
    background: #77a809;
}
.icon-bar:focus {
    background: #528009;
}

/*buttons*/

.btn-active {
    width: 220px;
	-moz-box-shadow:inset 0px 1px 0px 0px #a4e271;
	-webkit-box-shadow:inset 0px 1px 0px 0px #a4e271;
	box-shadow:inset 0px 1px 0px 0px #a4e271;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #89c403), color-stop(1, #77a809));
	background:-moz-linear-gradient(top, #89c403 5%, #77a809 100%);
	background:-webkit-linear-gradient(top, #89c403 5%, #77a809 100%);
	background:-o-linear-gradient(top, #89c403 5%, #77a809 100%);
	background:-ms-linear-gradient(top, #89c403 5%, #77a809 100%);
	background:linear-gradient(to bottom, #89c403 5%, #77a809 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#89c403', endColorstr='#77a809',GradientType=0);
	background-color:#89c403;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #74b807;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size: 20px;
	font-weight:bold;
	padding: 5px 20px;
	text-decoration:none;
	text-shadow:0px 1px 0px #528009;
	margin-bottom: 0;
}
.btn-active:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #77a809), color-stop(1, #89c403));
	background:-moz-linear-gradient(top, #77a809 5%, #89c403 100%);
	background:-webkit-linear-gradient(top, #77a809 5%, #89c403 100%);
	background:-o-linear-gradient(top, #77a809 5%, #89c403 100%);
	background:-ms-linear-gradient(top, #77a809 5%, #89c403 100%);
	background:linear-gradient(to bottom, #77a809 5%, #89c403 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77a809', endColorstr='#89c403',GradientType=0);
	background-color: #77a809;
    color:#ffffff;
}
.btn-active:active {
	position:relative;
	top:1px;
}
.btn-important {
    box-shadow: inset 0px 1px 0px 0px #ffffff !important;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf)) !important;
	background:-moz-linear-gradient(top, #ededed 5%, #dfdfdf 100%) !important;
	background:-webkit-linear-gradient(top, #ededed 5%, #dfdfdf 100%) !important;
	background:-o-linear-gradient(top, #ededed 5%, #dfdfdf 100%) !important;
	background:-ms-linear-gradient(top, #ededed 5%, #dfdfdf 100%) !important;
	background:linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%) !important;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf',GradientType=0) !important;
	background-color: #ededed !important;
    border:1px solid #dcdcdc;
    color: #777777 !important;
    text-shadow:0px 1px 0px #ffffff;
}
.btn-important:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed)) !important;
	background:-moz-linear-gradient(top, #dfdfdf 5%, #ededed 100%) !important;
	background:-webkit-linear-gradient(top, #dfdfdf 5%, #ededed 100%) !important;
	background:-o-linear-gradient(top, #dfdfdf 5%, #ededed 100%) !important;
	background:-ms-linear-gradient(top, #dfdfdf 5%, #ededed 100%) !important;
	background:linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%) !important;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed',GradientType=0)!important;
	background-color:#dfdfdf !important;
    color: #777777 !important;
}

input[type=text] {
    width: 100%;
    padding: 8px 20px;
    margin: 6px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}