.structure-description-container{
    margin-top: 30px;
}
.btn-container{
    margin: 10px;
}
.btn-container p#link {
    overflow: hidden; 
    text-overflow: ellipsis;
    white-space: nowrap;
    border: 1px solid #777;
    height: 35px;
    padding: 6px 5px;
    width: 220px;
    border-radius: 6px;
    background-color: #e9e9e9;
}
.textarea {
    max-width: 700px !important;
    font-size: 20px;
}
.header{
    border: 1px solid #dddddd;
    background: #e9e9e9;
    color: #777777;
    font-weight: bold;
    display: inline-block;
    padding: 5px 10px;
}
.structure-display-container {
    margin-top: 50px;
}
.structure-description-container .bootstrap-select.btn-group .dropdown-toggle .filter-option {
    text-align: center !important;
}
#styles-content .bootstrap-select{
    width: 100%;
}
.btn:focus {
     color: #FFF !important; 
}
.overlay .btn:focus {
     color: #000 !important; 
}

input[type="file"] {
    display: none !important;
}

.filename-label {
    padding: 15px 0;
}

.error-container{
    margin-bottom: 10px;
}
.errors-list {
    padding-left: 20px;
}
.btn-group > .btn{
    position: initial;
}
.tick-img {
    height: 25px;
    position: absolute;
    left: -50px;
    margin-top: 10px;
}
.tick-img img{
    max-width: 100%;
    max-height: 100%;
}
#image-structure{
    overflow-x: auto;
}
/*link*/
.form-control,input[type="text"],input[type="password"],input[type="email"],input[type="number"],input[type="tel"],input[type="url"],select,textarea {
    min-height: 34px;
    padding: 7px 8px;
    font-size: 13px;
    color: #333;
    vertical-align: middle;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: right 8px center;
    border: 1px solid #ccc;
    border-radius: 3px;
    outline: none;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.075)
}
.input-group {
    display: table;
    width: 220px;;
}
.input-group input {
    position: relative;
    width: 100%
}
.input-group input,.input-group-button {
    display: table-cell
}
.input-group-button {
    width: 1%;
    vertical-align: middle
}
.input-group input:first-child,.input-group-button:first-child .link-btn {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0
}
.input-group-button:first-child .link-btn {
    margin-right: -1px
}
.input-group input:last-child,.input-group-button:last-child .link-btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0
}
.input-group-button:last-child .link-btn {
    margin-left: -1px
}
* {
    box-sizing: border-box
}
.link-btn {
    position: relative;
    display: inline-block;
    padding: 6px 12px;
    font-size: 13px;
    font-weight: bold;
    line-height: 20px;
    color: #333;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-color: #eee;
    background-image: linear-gradient(#fcfcfc,#eee);
    border: 1px solid #d5d5d5;
    border-radius: 3px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-appearance: none
}

.checkbox input[type=checkbox]:checked + input[type="hidden"] + label:after,
.checkbox input[type=checkbox]:checked + label:after {
    font-family: 'glyphicons halflings';
    content: "\e013";
    color: #FFF;
}
.checkbox label{
    font-size: 18px;
}
.checkbox-success input[type="checkbox"]:checked + input[type="hidden"] + label::before,
.checkbox-success input[type="checkbox"]:checked + label::before, 
.checkbox-success input[type="radio"]:checked + label::before {
      background-color: #77a809;
      border-color: #77a809;
}

/*Overlay*/

.animate, .btn, .btn span, .overlay .overlay-content, .overlay .overlay-content .overlay-close, .overlay .overlay-content .signup-form input {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.overlay .upload-row label{
    overflow-x: hidden;
    width: 100%;
}
    
.overlay {
    visibility: hidden;
    width: 100%;
    height: 100%;
    overflow: auto;
    float: left;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    opacity: 0;
    -webkit-transform: translateY(200px);
    transform: translateY(200px);
    -webkit-transition: opacity 0.5s, z-index 0s 0.5s, -webkit-transform 0.5s;
    transition: opacity 0.5s, z-index 0s 0.5s, -webkit-transform 0.5s;
    transition: opacity 0.5s, transform 0.5s, z-index 0s 0.5s;
    transition: opacity 0.5s, transform 0.5s, z-index 0s 0.5s, -webkit-transform 0.5s;
}
.overlay .overlay-background {
  /*background-color: rgba(0, 0, 0, 0.75);*/
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
}
.overlay .overlay-content {
  width: 100%;
  max-width: 600px;
  margin: 100px auto 0;
  padding: 0 15px;
  color: #fff;
  position: relative;
  z-index: 10;
}
.overlay .overlay-content .popover{
    color: #000;
}
.overlay .overlay-content .overlay-close {
  /*display: block;*/
  font-size: 35px;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 15px;
}
.overlay .overlay-content .overlay-close:hover,
.overlay .fa:hover {
  opacity: .8;
  cursor: pointer;
}
.overlay .overlay-content .blurb {
  margin-top: 35px;
  line-height: 100%;
  font-weight: 600;
  font-size: 18px;
}
.overlay .overlay-content .blurb-tagline {
  display: block;
  margin-top: 10px;
  line-height: 100%;
  font-size: 14px;
}
.overlay .overlay-content .signup-form {
  margin-top: 35px;
}
.overlay .overlay-content .signup-form label {
  line-height: 100%;
  margin-bottom: 5px;
  font-size: 14px;
}
.overlay .overlay-content .signup-form input {
  background-color: transparent;
  width: 100%;
  height: 30px;
  margin-bottom: 20px;
  padding: 0 8px;
  border: 1px solid rgba(254, 254, 254, 0.3);
  border-radius: 5px;
  color: #fff;
}
.overlay .overlay-content .signup-form input:hover, .overlay .overlay-content .signup-form input:focus {
  border-color: #fff;
}
.overlay .overlay-content .signup-form .submit-btn {
  width: 150px;
}
.overlay.open {
  background-color: rgba(0, 0, 0, 0.75);
  visibility:visible;
  display: block;
  z-index: 15;
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: opacity 0.5s, z-index 0s, -webkit-transform 0.5s;
  transition: opacity 0.5s, z-index 0s, -webkit-transform 0.5s;
  transition: opacity 0.5s, transform 0.5s, z-index 0s;
  transition: opacity 0.5s, transform 0.5s, z-index 0s, -webkit-transform 0.5s;
}
.overlay.short .overlay-content {
  margin: 60px auto;
}
.dropdown-menu > li > a {
    padding: 3px 15px;
    margin: 2px 3px;
    border-radius:5px;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
    background-color: #77a809;
}

