﻿@using HtmlHelpers.BeginCollectionItem

@model GUI.Models.StructureGeneratorModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/Content/structuregenerator.css")
@Styles.Render("~/Content/popupmodal.css")
@Styles.Render("~/Content/awesome-bootstrap-checkbox.css")
<link rel="stylesheet prefetch" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/css/bootstrap-select.min.css">

<img src="../../Images/baner.png" class="img-responsive" />
<div class="structure-description-container container">
    <div>
        <h3 class="header">Stwórz swoją strukturę</h3>
    </div>
    <div class="row">
        <div id="description-area" class="col-md-9">
            @Html.TextAreaFor(m => m.Description, 10, 60, new { @class = "textarea" })
        </div>
        <div class="col-md-3">
            <div class="btn-container">
                <label for="file-upload" class="btn-active uppercase text-center">
                    <i class="fa fa-cloud-upload"></i> Wgraj opis
                </label>
                <input id="file-upload" type="file" accept="text/plain" />
            </div>
            <div class="btn-container">
                <button id="styles-btn" class="popup-trigger btn-active uppercase">Style</button>
            </div>
            <div class="btn-container">
                <button id="pictures-btn" class="popup-trigger btn btn-active uppercase">Obrazki</button>
            </div>
            <div class="btn-container bottom">
                <button id="generate-btn" class="btn-active btn-important uppercase" data-toggle="popover">Stwórz</button>
            </div>
        </div>
    </div>
    <div id="structure-content" class="row structure-display-container hidden">
        <div id="image-structure" class="col-md-9 text-center">
        </div>
        <div class="col-md-3">
            <h4 style="margin-left: 10px;">Wybierz format:</h4>
            <div class="btn-container">
                @Html.EnumDropDownListFor(m => m.DownloadFormat, new { @class = "selectpicker text-center", @data_style = "btn-active" })
            </div>
            <div class="btn-container">
                <button id="download-btn" class="btn-active uppercase">Zapisz</button>
            </div>
            <div class="btn-container">
                <button id="generate-link-btn" class="btn-active btn-important uppercase">Generuj link</button>
            </div>
            <div class="btn-container link-container">
                <div class="input-group">
                    <input id="link" type="text" value="https://todo">
                    <span class="input-group-button">
                        <button class="link-btn" type="button" data-clipboard-demo data-clipboard-target="#link">
                            <img class="clippy" src="~/Images/clippy.svg" width="13" alt="Copy to clipboard">
                        </button>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
@Html.Partial("~/Views/StructureGenerator/EditorTemplates/UploadOverlay.cshtml", Model)
@section Scripts{
    <script src="~/scripts/jquery.cookie.js"></script>
    <script src="~/scripts/loadingoverlay.js"></script>
    <script src="~/scripts/popupmodal.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/js/bootstrap-select.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.5.16/clipboard.min.js"></script>
    <script src="~/Scripts/structuregenerator.js"></script>

}

<script type="text/javascript">
    var Pictures = @Html.Raw(Json.Encode(Model.PictureUploads));

</script>