﻿@model List<GUI.Models.PictureUploadModel>

<h1 style="display: inline-block; margin-right:15px;" class="main-heading">Wgraj i nazwij obrazki</h1>
<i class="fa fa-info-circle fa-2x" aria-hidden="true" data-toggle="popover"></i>
<div class="col-md-12 text-center" style="margin-top: 20px;">
    <label for="picture-upload">
        <i class="fa fa-4x fa-upload" aria-hidden="true"></i>
    </label>
    <input id="picture-upload" name="ImageUpload" type="file" multiple accept="image/*" />
</div>
<div class="row header-row">
    <div class="col-md-6">
        <h3>Plik</h3>
    </div>
    <div class="col-md-6">
        <h3>Nazwa</h3>
    </div>
</div>
<div id="image-rows">
    @Html.Partial("~/Views/StructureGenerator/EditorTemplates/UploadRows.cshtml", Model)
</div>