﻿@model GUI.Models.StyleModel
@using System.Collections;

@{
    var fonts = (IEnumerable)ViewData["FontList"];
    var eFonts = new SelectList(fonts, "Value", "Text");

    var fontColors = (IEnumerable)ViewData["FontColorList"];
    var eFontColors = new SelectList(fontColors, "Value", "Text");

    var lineColors = (IEnumerable)ViewData["LineColorList"];
    var eLineColors = new SelectList(lineColors, "Value", "Text");

    var layouts = (IEnumerable)ViewData["LayoutList"];
    var eLayouts = new SelectList(layouts, "Value", "Text");

    var arrLayouts = (IEnumerable)ViewData["ArrayLayoutList"];
    var eArrLayouts = new SelectList(arrLayouts, "Value", "Text");

    var sizes = (IEnumerable)ViewData["SizeList"];
    var eSizes = new SelectList(sizes, "Value", "Text");

}

<h1 class="main-heading">Wybierz style</h1>
<div class="row">
    <div class="col-md-12">
        <div class="checkbox checkbox-success">
            @Html.CheckBoxFor(m => m.OriginalImageSize, new { @class = "styled" })
            @Html.LabelFor(m => m.OriginalImageSize, "Zachowaj oryginalny rozmiar obrazków")
        </div>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-6">
        <h3>Czcionka</h3>
        @Html.DropDownListFor(m => m.Font, eFonts, new { @class = "selectpicker" })
    </div>
    <div class="col-md-4 col-sm-6 col-xs-6">
        <h3>Kolor czcionki</h3>
        @Html.DropDownListFor(m => m.FontColor.Name, eFontColors, new { @class = "selectpicker" })
    </div>
    <div class="col-md-4 col-sm-6 col-xs-6">
        <h3>Kolor linii</h3>
        @Html.DropDownListFor(m => m.LineColor.Name, eLineColors, new { @class = "selectpicker" })
    </div>
    <div class="col-md-4 col-sm-6 col-xs-6">
        <h3>Rozmiar</h3>
        @Html.DropDownListFor(m => m.Size, eSizes, new { @class = "selectpicker" })
    </div>
    <div class="col-md-4 col-sm-6 col-xs-6">
        <h3>Układ</h3>
        @Html.DropDownListFor(m => m.Layout, eLayouts, new { @class = "selectpicker" })
    </div>
    <div class="col-md-4 col-sm-6 col-xs-6">
        <h3>Tablica</h3>
        @Html.DropDownListFor(m => m.ArrayLayout, eArrLayouts, new { @class = "selectpicker" })
    </div>
</div>
