﻿@model GUI.Models.StructureGeneratorModel

<div id="overlay" class="overlay">
    <div id="overlay-background" class="overlay-background"></div>
    <div id="overlay-content" class="overlay-content">
        <div id="overlay-close" class="fa fa-times fa-lg overlay-close"></div>
        <div id="pictures-upload-content">
            @Html.Partial("~/Views/StructureGenerator/EditorTemplates/PicturesUpload.cshtml", Model.PictureUploads)
        </div>
        <div id="styles-content">
            @Html.Partial("~/Views/StructureGenerator/EditorTemplates/StylesUpload.cshtml", Model.Styles)
        </div>
    </div>
</div>

