﻿@model GUI.Models.PictureUploadModel

<div class="upload-row row" style="display: none;">
    @using(Html.BeginCollectionItem("PictureUploads")) {
    <div class="col-md-6">
        @Html.LabelFor(m => m.FileName, Model.FileName, new { @class = "filename-label" })
    </div>
    <div class="col-md-6">
        @Html.TextBoxFor(m => m.Name)
    </div>
    <div class="text-center tick-img">
        <i class="fa fa-check-circle-o fa-2x" aria-hidden="true"></i>
    </div>
    }
</div>
