﻿@{
    ViewBag.Title = "Definicja języka";
}

<img src="../../Images/baner.png" class="img-responsive" />
@*<div class="jumbotron">
        <img src="../../Images/baner.png" style="width: 100%;"/>
        <h1 style="color: #77a809">Structure Painter</h1>
        <p class="lead">Oprogramowanie do wizualizacji struktury danych</p>
    </div>*@
<div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingIntro">
        <h4 class="panel-title">
            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseIntro" aria-expanded="true" aria-controls="collapseIntro">
                Wstęp
            </a>
        </h4>
    </div>
    <div id="collapseIntro" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingIntro">
        <div class="panel-body">
            Structure Painter to pakiet oprogramowania służący do wizualizacji struktur danych na podstawie ich opisu podanego w specjalnie przygotowanym w tym
            celu języku oraz wybranego stylu. Poniżej znajduje się opis języka wraz z przykładami umożliwiający szybkie zapoznanie się z jego możliwościami oraz skorzystanie z aplikacji.
            <div class="margin-top-10">
                Najczęściej popełniane błędy:
                <ul style="padding-left: 20px;">
                    <li>Brak zdefiniowanego obrazka. Należy sprawdzić, czy ustawiona nazwa grafiki zgadza się z nazwą podaną w strukturze.</li>
                    <li>Brak unikalnych nazw dla wgranych obrazków. Każda wgrana grafika powinna mieć inną nazwę. Można ją zmienić w obrazkach</li>
                    <li>
                        Błędnie definiowanie drzew. Dla drzew przy podawaniu krawędzi należy najpierw podać wierzchołek znajdujący się bliżej korzenia (kolejność zstępująca).
                        To znaczy, że jeśli rodzicem wierzchołka <em>4</em> ma być wierzchołek <em>2</em>, to poprawny opis krawędzi będzie: <em>2-4</em>
                        (a dla krawędzi skierowanej <em>2->4</em>), a niepoprawny opis to: <em>4-2</em>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingZero">
        <h4 class="panel-title">
            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseZero" aria-expanded="true" aria-controls="collapseZero">
                Podstawowe
            </a>
        </h4>
    </div>
    <div id="collapseZero" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingZero">
        <div class="panel-body">
            <strong>{ nazwa } </strong> - nazwa wgranego obrazka, powinna zaczynać się od litery, być jednowyrazowa i nie zawierać żadnego ze znaków specjalnych, w szczególności "-" ani ".";
            obrazek, który przekroczy zdefiniowany w ustawieniach maksymalny rozmiar, zostanie do niego przeskalowany z zachowaniem proporcji
            <br />
            <strong>" "</strong> - niweluje specjalne znaczenie znaków wewnątrz (z wyjątkiem "\"), łączy wyrazy w jeden obiekt
            <br />
            <strong>\</strong> - niweluje specjalne znaczenie znaku bezpośrednio po sobie
            <br />
            <strong>spacja (biały znak)</strong> - rozdziela obiekty
            <br /><br />

            Ala ma kota (trzy oddzielne obiekty oddzielone marginesem)
            <br />
            <img src="../../Images/examples/basic1.png" />
            <br /><br />
            "Ala ma kota" (jeden obiekt, wyrazy oddzielone spacją)
            <br />
            <img src="../../Images/examples/basic2.png" />
            <br /><br />
            "< . 1 > \ \ \ " tree{}"
            <br />
            <img src="../../Images/examples/basic3.png" />
            <br /><br />
            \ [ \ | \ ]
            <br />
            <img src="../../Images/examples/basic4.png" />
            <br /><br />
            Ala ma {pies}
            <br />
            <img src="../../Images/examples/basic5.png" />
            <br /><br />
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
        <h4 class="panel-title">
            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Tablice
            </a>
        </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
        <div class="panel-body">
            <strong>[ ]</strong> - definicja tablicy
            <br />
            <strong>|</strong> - separator elementów tablicy
            <br /><br />

            [ | | ]
            <br />
            <img src="../../Images/examples/array1.png" />
            <br /><br />
            [ Ala | ma | kota ]
            <br />
            <img src="../../Images/examples/array2.png" />
            <br /><br />
            [ Ala | ma | kota Mruczka [ ale | | nie | | ma psa ] ]
            <br />
            <img src="../../Images/examples/array3.png" />
            <br />
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
        <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Tablice haszujące
            </a>
        </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
        <div class="panel-body">
            <strong> obiekt1 > obiekt2</strong> - obiekt2 jest poza tablicą i na niego wskazuje strzałka
            <br />
            <strong>( obiekt1 ) > obiekt2</strong> - obiekt1 jest poza tablicą, strzałka wskazuje na komórkę tablicy zawierającą obiekt2
            <br /><br />


            [ Ala > [ nie | ma | psa ] | ma | kota ]
            <br />
            <img src="../../Images/examples/hasharray1.png" />
            <br /><br />
            [ ( Ala ) > [ nie | ma | psa ] | ma | kota ]
            <br />
            <img src="../../Images/examples/hasharray2.png" />
            <br /><br />
            [ 1 > 2 | ( 3 ) > 4 | ( 5 ) > 6 | 7 > 8 | 9 > 10 ]
            <br />
            <img src="../../Images/examples/hasharray3.png" />
            <br /><br />
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingThree">
        <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Wektory
            </a>
        </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
        <div class="panel-body">
            Wektory mogą wskazywać na obiekty w jednej tablicy lub na obiekty poza tablicami. Nie można wygenerować wektora o początku w tablicy i końcu poza nią bądź odwrotnie.
            <br />
            <strong> < . nr : label > obiekt</strong> - definicja początku wierzchołka, gdzie nr - numer wektora, label (opcjonalna) - etykieta wektora, obiekt - obiekt będący początkiem wektora
            <br />
            <strong> < nr . > obiekt</strong> - definicja końca wierzchołka, gdzie nr - numer wektora, obiekt - obiekt będący końcem wektora
            <br /><br />

            [ < 2 . > | | < . 2 : dwa > ]
            <br />
            <img src="../../Images/examples/vector1.png" />
            <br /><br />
            [ < 2 . >start | | < . 2 : dwa > koniec wektora]
            <br />
            <img src="../../Images/examples/vector2.png" />
            <br /><br />
            < 2 . >koniec wektora < . 2 : dwa > start
            <br />
            <img src="../../Images/examples/vector3.png" />
            <!--br /><br />
            < 2 . > start < . 2 : dwa > < . 1 > koniec < 1 . > wektora
            <br />
            <img src="../../Images/examples/vector4.png" /-->
            <br /><br />
            < 2 . >a  < . 1 > b < . 2 : dwa> c < 1. > d
            <br />
            <img src="../../Images/examples/vector5.png" />
            <br /><br />
            [ < 2 . > a | | < . 2 : dwa > b ] < . 1 > c < 1 . > d
            <br />
            <img src="../../Images/examples/vector6.png" />
            <br /><br />
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingFour">
        <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                Grafy
            </a>
        </h4>
    </div>
    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
        <div class="panel-body">
            Każdy graf i drzewo muszą mieć minimum jeden wierzchołek. Najpierw podawane są definicje wierzchołków, a potem krawędzi. Numery krawędzi i wierzchołków muszą się zgadzać.
            <br />
            Dla drzew przy podawaniu krawędzi należy najpierw podać wierzchołek znajdujący się bliżej korzenia (kolejność zstępująca).
            <br />
            <strong> graph{}</strong> - definicja grafu
            <br />
            <strong> tree{}</strong> - definicja drzewa
            <br />
            <strong> v1:obiekt</strong> - definicja wierzchołka, gdzie: v1 - numer wierzchołka (liczba całkowita), obiekt - zawartość wierzchołka
            <br />
            <strong>=</strong> - separator wierzchołków i krawędzi
            <br />
            <strong>v1->v2:label</strong> - definicja krawędzi skierowanej od wierzchołka o numerze v1 do wierzchołka o numerze v2, label (opcjonalna) - etykieta krawędzi
            <br />
            <strong>v1-v2:label</strong> - definicja krawędzi nieskierowanej między wierzchołkami o numerach v1 i v2, label (opcjonalna) - etykieta krawędzi
            <br />
            <strong>; bądź \n (znak nowej linii)</strong> - separator kolejnych definicji wierzchołków i krawędzi
            <br /><br />

            tree{ 1:1 ; 2:2; 3:3; 4:4; 5:5; 6:6; 7:7; 8:8; =; 1-2; 1-3; 2-4; 2-5; 3-6; 3-7; 4-8;}
            <br />
            <img src="../../Images/examples/graph1.png" />
            <br />
            tree{ 1:Ala ; 2:kota; 3:psa;  =; 1->2:ma; 1->3:nie;}
            <br />
            <img src="../../Images/examples/graf2.png" />
            <br />
            graph{ 1:Warszawa ; 2:Gdańsk; 3:Kraków;  =; 1-2:283 km; 1-3:252 km; 2-3: 485 km;}
            <br />
            <img src="../../Images/examples/graf3.png" />
            <br />
            <br /><br />
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingFive">
        <h4 class="panel-title">
            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
                Zaawansowane
            </a>
        </h4>
    </div>
    <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
        <div class="panel-body">
            Wszystkie wcześniej omówione struktury można dowolnie zagnieżdżać i łączyć ze sobą
            <br /><br />

            [ < . 1 >{pies}| [[[środek|tablicy]]]| < 1 .> Ali ]
            <br />
            <img src="../../Images/examples/advanced1.png" />
            <br /><br />
            tree{ 1:{Ala} ; 2: kot; 3:[psa];  =; 1->2:ma; 1->3:nie ma;}
            <br />
            <img src="../../Images/examples/advanced2.png" />
            <br /><br />
            "kilka wyrażeń" "każde inne" "jedno pod drugim" (przy wertykalnym układzie)
            <br />
            <img src="../../Images/examples/advanced3.png" />
            <br /><br />
        </div>
    </div>
</div>

