﻿
@{
    ViewBag.Title = "O programie";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<img src="../../Images/baner.png" class="img-responsive" />
<div class="jumbotron text-center">
    @*<h1 style="color:#77a809">Structure Painter</h1>*@
    <p class="lead">Oprogramowanie do wizualizacji struktury danych</p>
    <p>
        Używając Structure Painter możesz w sposób szybki i prosty stworzyć wybraną strukturę.
    </p>
    <p>
        Przeczytaj poniżej jak to zrobić bądź ściągnij instrukcję!
    </p>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4><i class="fa fa-fw fa-check"></i> Generator struktur</h4>
            </div>
            <div class="panel-body">
                <p>
                    W programie jest możliwe:
                    <div class="row">
                        <ul>
                            <li>Wgrywanie pliku z gotowym opisem struktury</li>
                            <li>Wgrywanie zdjęć i dodanie ich do struktury</li>
                            <li>Ustawianie własnych styli</li>
                            <li>Zapis struktury w różnych formatach</li>
                        </ul>
                    </div>
                </p>
                <button type="button" class="btn btn-active uppercase" onclick="location.href='@Url.Action("Index", "StructureGenerator")'" formtarget="_blank">Wypróbuj</button>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4><i class="fa fa-fw fa-check"></i> Opis języka</h4>
            </div>
            <div class="panel-body">
                <p>
                    W celu sprawnego zwizualizowania struktur, stworzyliśmy prosty język je opisujący. Dowiedz się więcej, aby móc samemu wygenerować wybraną strukturę
                </p>
                <button type="button" class="btn btn-active uppercase" formtarget="_blank" onclick="location.href='@Url.Action("Examples", "StructurePainter")'">Sprawdź</button>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4><i class="fa fa-fw fa-check"></i>Instrukcja obsługi programu</h4>
            </div>
            <div class="panel-body">
                <p>
                    Użytkownik korzystając z programu ma możliwość wygenerowania struktur danych jako obrazek.
                    W tym celu musi opisać wybrane do wizualizacji dane w specjalnie opracowanym do tego celu języku,
                    którego opis i przykłady użycia znajdzie na stronie w zakładce <em>Przykłady</em>.
                </p>
                <p>
                    W celu generacji struktury należy wpisac definicje struktury do okienka tekstowego, bądź
                    wgrać plik tekstowy poprzez wybranie opcji <em>Wgraj plik</em>. Tekst z pliku zostanie wgrany do
                    okienka tekstowego. W każdym momencie można zmienić opis struktury.
                </p>
               <p style="font-weight:bold">Szczegółową instrukcję można ściągnąć w formie pdf:
                @Html.ActionLink("Instrukcja", "Download", "StructurePainter", new { fileName = "Instrukcja" }, new { @target = "_blank" })
                </p>
            </div>
        </div>
    </div>
</div>